<a href="https://colab.research.google.com/github/mrheavyman/Price_DTSC3020_Fall2025/blob/main/Assignment4_(ch_6)__(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DTSC 3020 – Assignment 4
Chapter 6 – Dictionaries

Total points: 4

Deadline: Friday at midnight

Submission: Upload your Python file to your GitHub repository and submit only your GitHub link.


Expectations
Write complete answers and run all cells before submission.
Keep the notebook clean (no unnecessary code).

Exercise  1: Find and print the student with the lowest grade.

In [4]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

minimum = float("inf")
student = ""

for name, grade in grades.items():
  if grade < minimum:
    minimum = grade
    student = name

print(student)

Omid

Exercise 2: print names of students who registered for any course containing "Data"

In [8]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Data Mining', 'Chemistry'],
    'Reza': ['Machine Learning', 'Data Science'],
    'Lina': ['English', 'History']
}

for name, courses in courses.items():
  for courses in courses:
    if "data" in courses.lower():
      print(name)

Sara
Reza

Exercise 3: Print titles of books that are not available.

In [10]:
library = {
    'Python101': {'pages': 180, 'available': True},
    'AI Basics': {'pages': 130, 'available': False},
    'Math Advanced': {'pages': 200, 'available': False},
    'Statistics': {'pages': 175, 'available': True}
}

for title, info in library.items():
  if info["available"] == False:
    print(title)

AI Basics
Math Advanced

Exercise 4: Print names of students who are registered for more than 2 courses.

In [11]:

registrations = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry', 'Math'],
    'Reza': ['English'],
    'Lina': ['History', 'Physics', 'Geography', 'Art']
}

for name, courses in registrations.items():
  if len(courses) > 2:
    print(name)

Sara
Lina

Exercise 5: Calculate and print the average grade of the class.

In [12]:
grades = {
    'Ali': 17,
    'Sara': 19,
    'Reza': 18.5,
    'Lina': 20,
    'Omid': 16
}

sum = 0
for grade in grades.values():
  sum += grade

average = sum / len(grades)
print(average)

18.1

Exercise 6: Count and print the number of students registered for "Python".

In [14]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

python_students = 0

for courses in courses.values():
  if "Python" in courses:
    python_students += 1

print(python_students)

3

Exercise 7: Print titles of books with more than 200 pages.

In [15]:
book_pages = {
    'Python101': 180,
    'AI Basics': 230,
    'Math Advanced': 250,
    'Statistics': 190,
    'Data Science': 300
}


for title, pages in book_pages.items():
  if pages > 200:
    print(title)

AI Basics
Math Advanced
Data Science

Exercise 8: Print each student's name and number of registered courses.

In [16]:
courses = {
    'Ali': ['Python', 'Math'],
    'Sara': ['Biology', 'Chemistry'],
    'Reza': ['Python', 'AI'],
    'Lina': ['English', 'History'],
    'Omid': ['Python']
}

for name, courses in courses.items():
  print(f"{name}: {len(courses)}")

Ali: 2
Sara: 2
Reza: 2
Lina: 2
Omid: 1